.DivInsideImage {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .BackgroundImageStyled {
    height: 210px;
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    filter: brightness(50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .HeaderTitle {
    position: absolute;
    margin: 120px;
    font-size: 50px;
    color: white;
    font-weight: 700;
    color: #fff;
    text-shadow:
      1px 1px 1px #000,
      -1px 1px 1px #000,
      -1px -1px 0 #000,
      1px -1px 0 #000;
  }
  
  .DivBody {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .DivInsideBody {
    width: 90vw;
    background-color: #f6f6f6;
    border-radius: 30px;
    padding: 70px;
  }
  
  @media only screen and (max-width: 768px) {
    .DivInsideImage {
      padding: 20px;
    }
  
    .BackgroundImageStyled {
      height: 111px;
      width: 100%;
      border-radius: 15px;
    }
  
    .HeaderTitle {
      margin-top: 20%;
      font-size: 30px;
    }
  
    .DivInsideBody {
      width: 95vw;
      padding: 40px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .DivInsideImage {
      padding: 10px;
    }
  
    .BackgroundImageStyled {
      height: 100px;
      width: 100%;
      border-radius: 10px;
    }
  
    .HeaderTitle {

      font-size: 30px;
      text-align: center;
    }
  
    .DivInsideBody {
      width: 100vw;
      padding: 20px;
    }
  }
