.home {
  padding: 0 50px;
}

.DivFirstImage {
  display: flex;
  justify-content: center;
}

.firstImage {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

h1 {
  color: #FF6060;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 2px;
}

.host-picture {
  width: 100px;
  border-radius: 50%;
}

.pictures img {
  width: 200px;
  margin: 10px;
}

.location {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0;
}

.TagUl {
  color: white;
  display: flex;
  list-style: none;
}

.TagLi {
  margin-right: 15px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 10px;
  background-color: #ff6060;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.MiddleLowPart,
.MiddlePart {
  display: flex;
  flex-direction: column;
}

.HostProfil {
  display: flex;
  align-items: center;
}

.DropDown,
.DropDownMenu,
.dropdown-content {
  display: flex;
  justify-content: space-between;
}

.DropDownMenu {
  align-items: center;
  padding: 10px;
  background-color: #ff6060;
  border: none;
  color: white;
  font-size: 18px;
  width: 750px;
  font-weight: 700;
  border-radius: 10px;
  font-family: 'Montserrat';
}

.dropdown-content {
  background-color: #f0f0f0;
  padding: 10px;
  flex-direction: column;
  align-items: flex-start;
  width: 730px;
  max-height: 500px;
  opacity: 1;
}

.dropdown-content.show {
  max-height: 500px;
  opacity: 1;
}

.Dropdown-cont,
.flex-b {
  padding: 0;
  margin: 0;
}

.carousel-container {
  width: 100%;
  max-width: 2000px;
  height: 700px;
  max-height: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  height: 700px;
  min-width: 100%;
  object-fit: cover;
}

.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button:disabled {
  cursor: not-allowed;
}

.carousel-counter {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}

.host-surname,
.host-name {
  color: #ff6060;
  font-weight: 500;
  font-size: 21px;
  margin: 0;
  margin-right: 10px;
}

.TagRating {
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
  width: 50px;
}

.HostandRating {
  display: flex;
  flex-direction: column;
}

.PrincipalContent {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

/* Media Queries */
@media only screen and (max-width: 767px) {
  .carousel-container {
    height: 300px;

  }

  .carousel img {
    height: 300px;
    width: 50px;
  }

  .location {
    font-size: 16px;
  }

  .firstImage {
    height: auto;
  }

  .DropDown {
    flex-direction: column;
    margin-top: 40px;
  }

  .dropdown-content {
    width: 350px;
  }

  .DropDownMenu {
    margin-top: 30px;
  }

  .carousel-container {
    height: auto;
  }

  .host-surname,
  .host-name {
    font-size: 16px;
    margin-right: 5px;
  }

  .carousel-counter {
    font-size: 16px;
  }

  .HostandRating {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .PrincipalContent {
    flex-direction: column;
  }

  .TagLi {
    font-size: 12px;
    margin-right: 10px;
    padding-right: 5px;
  }

  .home {
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-size: 30px;
  }

  .pictures img {
    width: 100px;
    margin: 5px;
  }

  .DropDownMenu {
    width: 350px;
  }

  .dropdown-content {
    width: 330px;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  .carousel-container {
    height: 500px;
    
  }

  .carousel img {
    height: 500px;
  }

  .DropDownMenu {
margin-left: 5px;
    width: 350px;
  }
  .dropdown-content {
    width: 330px;
    margin-left: 5px;
  }
}

@media (min-width: 1020px) and (max-width: 1199px) {

  .DropDownMenu 
   {
    width: 460px;
    max-width: 100%;
  }
  .dropdown-content{
    width: 450px;


  }
}

@media (min-width: 1200px) and (max-width: 1418px) {
  .carousel-container {
    height: 600px;
  }
  .carousel img {
    height: 600px;
  }

  .DropDownMenu,
  .dropdown-content {
    width: 450px;
  }
}

@media only screen and (max-width: 320px) {
  .carousel-container {
    height: 250px;

  }

  .carousel img {
    height: 250px;
  }

  .carousel-button img {
    width: 50px;
  }

  .host-picture {
    width: 80px;
    border-radius: 50%;
  }

  .DropDownMenu {
    width: 310px;
    max-width: 100%;
  }

  .dropdown-content {
    width: 300px;
    max-width: 100%;
  }
}

@media (min-width:320px) and (max-width: 425px) {


  .carousel-button img {
    width: 50px;
  }

}

@media (min-width: 425px) and (max-width: 767px) {
  .carousel-container {
    height: 350px;
  }

  .carousel-button img {
    width: 50px;
  }

  .carousel img {
    height: 350px;
  }

  .DropDownMenu .dropdown-content {
    width: 767px;
    max-width: 100%;
  }


}
@media (min-width: 1420px) and (max-width: 1440px) {

  .DropDownMenu {
    width: 650px;
    max-width: 100%;
  }

  .dropdown-content {
    width: 630px;
    max-width: 100%;
  }
}

