.home {
  padding-left: 50px;
  padding-right: 50px;
}

.DivFirstImage {
  display: flex;
  justify-content: center;
}


.firstImage {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}


h1 {
  color: #FF6060;
  font-weight: 400;
  font-size: 36px;
  margin-bottom: 2px;
  font-weight: 500;
}


.host-picture {
  width: 100px;
  border-radius: 50%;
}


.pictures img {
  width: 200px;
  margin: 10px;
}



.location {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
}




.TagUl {
  color: white;
  display: flex;
  list-style: none;
}

.TagLi {
  margin-right: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  font-size: 14px;
  border-radius: 10px;
  background-color: #ff6060;
  display: flex;
  align-items: center;
  font-weight: 700;
}


.MiddleLowPart,
.MiddlePart {
  display: flex;
  flex-direction: column;
}


.HostProfil {
  display: flex;
  align-items: center;
}


.DropDown {
  display: flex;
  justify-content: space-between;
}


.DropDownMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #ff6060;
  border: none;
  color: white;
  font-size: 18px;
  width: 650px;
font-weight: 700;
  border-radius: 10px;
  font-family: 'Montserrat';
}

.dropdown-content {
  background-color: #f0f0f0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 650px;
}

.dropdown-content.show {
  max-height: 500px;
  opacity: 1;
}

.Dropdown-cont {
  padding: 0px;
  margin: 0px;
width: 100%;
}


.flex-b {
  display: flex;
  flex-direction: column;
}


.carousel-container {
  width: 100%;
  max-width: 2000px;
  height: 700px;
  margin: auto;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
}




.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel img {
  width: 100%;
  height: auto;
  min-width: 100%;
  object-fit: fill;
}


.carousel-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.carousel-button {
  background-color: transparent;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button:disabled {
  cursor: not-allowed;
}


.carousel-counter {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0px;
  text-align: center;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
}




.host-surname,
.host-name {
  color: #ff6060;
  font-weight: 500;
  font-size: 21px;
  margin: 0px;
  margin-right: 10px;
}



.TagRating {
  display: flex;
  justify-content: space-between;
}

.stars {
  display: flex;
  width: 50px;
}


.HostandRating {
  display: flex;
  flex-direction: column;
}




.PrincipalContent {
  display: flex;
  justify-content: space-between;
}


li {
  list-style-type: none;

}
@media only screen and (max-width: 767px) {

  .location {
    font-size: 16px;
  }

  .firstImage {
    height: auto;
  }

  .DropDown {
    flex-direction: column;
    margin-top: 40px;
  }

  .DropDownMenu {
    margin-top: 50px;
    width: 100%;
  }
  .dropdown-content {

    width: 100%;
  }
  .carousel-container {
    height: auto;
  }

  .host-surname,
  .host-name {
    font-size: 16px;
    margin-right: 5px;
  }

  .carousel-counter {
    font-size: 16px;
  }

  .HostandRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .PrincipalContent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .TagLi {
    font-size: 16px;
    margin-right: 10px;
  }

  .home {
    padding-left: 0px;
    padding-right: 0px;
  }

  h1 {
    font-size: 30px;
  }

  .pictures img {
    width: 100px;
    margin: 5px;
  }
}








@media (min-width: 768px) and (max-width: 1023px) {
  .DropDownMenu {
    margin: 50px 0px 0px 0px;

    width: 350px;
  }
  .dropdown-content {

    width: 350px;
  }
}


@media (min-width: 1024px) and (max-width: 1199px) {
  .DropDownMenu {
    margin: 50px 0px 0px 0px;

    width: 350px;
  }
  .dropdown-content {

    width: 350px;
  }
}



@media (min-width: 1199px) and (max-width: 1418px) {
  .DropDownMenu {
    margin: 50px 0px 0px 0px;

    width: 450px;
  }
  .dropdown-content {

    width: 450px;
  }
}

