.about-content {
    padding: 1px;
  }
  
  .DivInsideImage {
    display: flex;
    justify-content: center;
  }
  
  .BackgroundImageStyled {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
  }
  
  .DropDownAbout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin-top: 20px;

  }
