.DivInsideImage {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  
  .BackgroundImageStyled {
    height: 210px;
    display: flex;
    justify-content: center;
    width: 80%;
    border-radius: 30px;
    object-fit: cover;
    filter: brightness(50%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  
  .HeaderTitle {
    position: absolute;
    margin: 75px;
    font-size: 50px;
    color: white;
  }
  
  .DivBody {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .DivInsideBody {
    width: 90vw;
    background-color: #f6f6f6;
    border-radius: 30px;
    padding: 80px;
  }
  
  @media only screen and (max-width: 768px) {
    .DivInsideImage {
      padding: 20px;
    }
  
    .BackgroundImageStyled {
      height: 150px;
      width: 100%;
      border-radius: 15px;
    }
  
    .HeaderTitle {
      margin: 50px;
      font-size: 30px;
    }
  
    .DivInsideBody {
      width: 95vw;
      padding: 40px;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .DivInsideImage {
      padding: 10px;
    }
  
    .BackgroundImageStyled {
      height: 100px;
      width: 100%;
      border-radius: 10px;
    }
  
    .HeaderTitle {
      margin: 25px;
      font-size: 20px;
    }
  
    .DivInsideBody {
      width: 100vw;
      padding: 20px;
    }
  }
  